extends layout

block content
  if(!currentUser)
    .fill-container
      .center-container
        form.login-form(action="/login",method="post")
          p.error=error
          label Username:
            input(name="username")
          label Password:
            input(name="password",type="password")
          button Login
          a(href="/signup") Signup
  else
    .horizontal-center
      .add-button +
    .opaque-background
      form.add-ticker(action="/add-ticker",method="post")
        label Exchange
          select(name="exchange")
            option(value="bitfinex") bitfinex
        label Cryptocurrency
          select(name="currency")
            option(value="bitcoin") bitcoin
        label Volume
          input(name="volume")
        label Buy-in
          input(name="buyIn")
        button Add
    form.logout-form(action="/logout",method="post")
      button Logout
