extends layout

block content
  if(!currentUser)
    .fill-container
      .center-container
        form.login-form(action="/login",method="post")
          p.error=error
          label Username:
            input(name="username")
          label Password:
            input(name="password",type="password")
          button Login
          a(href="/signup") Signup
  else
    .horizontal-center
      .add-button +
    .opaque-background
      form.add-ticker(action="/add-ticker",method="post")
        p.error
        label Exchange
          select(name="exchange",class="exchange")
        label Cryptocurrency
          select(name="currency",class="currency")
        label Volume
          input(name="volume",id="volume",type="number",step="any")
        label Buy-in
          input(name="buyIn",id="buyIn",type="number",step="any")
        button(type="submit") Add
