doctype html
html(lang="en")
  head
    title Crypfolio
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Pacifico",rel='stylesheet')
    script(type="text/javascript",src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(type="text/javascript",src="javascripts/client.js")
    script(src='/socket.io/socket.io.js')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="Description",content="Track all your cryptocurrencies in one place")
  body
    include ../includes/header.pug
    block content
